@function adap($values) {
  $root: 1px;
  $unit: vw;
  $list: ();
  @each $v in $values {
    $res: 0;
    @if ($v == 0 or $v == auto or unit($v) == rem or unit($v) == em or unit($v) == vw or unit($v) == vh) {
      $res: $v;
    } @else {
      $res: ($v / 750 * 100) / $root + $unit
    }
    $list: append($list, $res);
  }
  @return $list;
}
